.user {
    background-color: #1F2937;
    color: #93C5FD;
    border: 2px solid #0d47a1; 
    padding: 16px
}

.ia {
    background-color: #81c784;
    color: #388e3c;
    border: 2px solid #388e3c;
    padding: 16px
}

code.inline-code {
    font-weight: bolder;
    color: #388e3c;
}

.icon-fill {
    fill: #0d47a1
}
.icon-white {
    fill: white
}

textarea {
    background-color: #1F2937;

}
